.black-part {
    color: #000000; /* Чёрный цвет */
}

.yellow-part {
    color: #FFD700; /* Жёлтый цвет */
}

.small {
    font-size: 0.5em; /* Уменьшает размер шрифта для элемента "и" */
}
.banner-container img {
    border-radius: 100px;  /* Закругление углов */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень для объёмного эффекта */
    margin-top: 0px;
}
.logo-container img {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}

.logo-container {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background: none !important;
   
}
.hero-body {
    margin-top: -200px; !important/* Сдвинет секцию на 20px вверх, можно увеличить значение */
}